<h1 class="container">Contact Me</h1>

<div class="container">
	<div class="col-xs-7 col-sm-4 col-md-4">
		<div class="list-group">
		  <button type="button" class="list-group-item">Email: hello@canaryjane.com</button>
		  <button type="button" class="list-group-item">Instagram: </button>
		  <button type="button" class="list-group-item">Facebook: </button>
		  <button type="button" class="list-group-item">Pinterest: </button>
		</div>
	</div>
</div>