<div>
	<%= render 'shared/nav' %>
</div>

<div class="container">
	<img class="header_img" src="http://1.bp.blogspot.com/-Hc847higA20/WCPk_ZRGNoI/AAAAAAAAHJ4/WXfAKDSlstc2_Y_KPhMZa8qszwXnzE6JQCK4B/s1040/background-01-01-01-01.jpg">
</div>